<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Cancelar", list_path(@list), class: "btn btn-warning" %>
      <%= form_with model: @list do |f| %>
        <%= f.label "Nuevo nombre:" %>
        <%= f.text_field :name %>
        <%= f.submit "Actualizar Lista", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
