<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Volver al inicio", home_path %>
      <%= link_to "Ver todas las listas", lists_path %>
      <%= link_to "Editar nombre de lista", edit_list_path %>
      <%= link_to "Delete",
        list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <h2><%= @list.name %></h2>

      <p><strong>Tareas:</strong></p>
      <ul class="list-group">
        <% @list.tasks.each do |task| %>
          <li class="list-group-item"><%= task.content %></li>
        <% end %>
      </ul>

      <%= link_to "Crear nueva tarea", new_list_task_path(@list) %>
    </div>
  </div>
</div>
