<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Volver al inicio", home_path %>
      <%= link_to "Ver todas las listas", index_path %>
      <%= link_to "Editar nombre de lista", edit_path %>
      <%= link_to "Delete",
        list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <h2><%= @list.name %></h2>
      <%= link_to "Crear nueva tarea", newtask_path %>
    </div>
  </div>
</div>
